:host {
  min-width: calc((100% - 2rem) / 2);
  max-width: calc((100% - 2rem) / 2);
  background: linear-gradient(to top right, #cad3c8 0%, #98a097 100%);
  padding: 0.5rem;
  border-radius: 0.2rem;
  /*box-shadow: 2px 2px 0.25em rgb(255,255,255);*/
  font-size: 1.2rem;
}
:host .mat-card-title, :host .mat-card-actions, :host mat-card {
  display: flex;
  gap: 1rem;
}
:host mat-card-content {
  display: flex;
  flex-direction: column;
}
:host .mat-card-actions {
  gap: 0;
  justify-content: flex-end;
  padding-top: 0;
}
:host mat-card {
  height: 100%;
}
:host h2 {
  font-size: 1.1rem;
  color: rgba(40, 40, 40, 0.8);
}
:host .ax-content {
  color: #141414;
}
:host .todo {
  row-gap: 1rem;
  height: 100%;
}
:host h3 {
  font-weight: 500;
  color: white;
}
:host .section-header {
  gap: 1rem;
}
:host .mat-mini-fab {
  width: 1.5rem;
  height: 1.5rem;
}
:host .mat-button {
  padding: 0;
  width: 3rem;
  min-width: 3rem;
  margin: 0;
}
:host .ax-date-info {
  font-size: 0.7rem;
  text-shadow: 2px 2px 0.15em rgba(133, 125, 125, 0.05);
  color: #a09d9d;
}
:host .ax-other-infos {
  margin-top: 2rem;
}
:host .ax-other-infos section {
  margin-bottom: 0.5rem;
}
:host .ax-other-infos section span {
  padding-left: 0.5rem;
}
:host .ax-other-infos section i {
  color: #a09d9d;
}
:host .ax-other-infos section .ax-infos {
  font-size: 0.8rem;
}
:host .ax-inprogress {
  background-color: var(--ax-progress);
}
:host .ax-closed {
  background-color: var(--ax-closed);
}
:host .ax-canceled {
  background-color: var(--ax-canceled);
}
:host .ax-started {
  background-color: var(--ax-started);
}
:host .ax-closing {
  color: #a11b51;
  font-size: 1rem;
  align-self: center;
  margin-top: 1rem;
}
:host .mat-card > :first-child {
  margin-top: 1.5rem;
}
:host .song {
  -webkit-animation: songKeyFrame 2000ms ease infinite;
          animation: songKeyFrame 2000ms ease infinite;
}
@-webkit-keyframes songKeyFrame {
  0% {
    transform: rotateZ(-30deg);
  }
  15% {
    transform: rotateZ(30deg);
  }
  30% {
    transform: rotateZ(-30deg);
  }
  45% {
    transform: rotateZ(20deg);
  }
  60% {
    transform: rotateZ(-30deg);
  }
  75% {
    transform: rotateZ(30deg);
  }
  76% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes songKeyFrame {
  0% {
    transform: rotateZ(-30deg);
  }
  15% {
    transform: rotateZ(30deg);
  }
  30% {
    transform: rotateZ(-30deg);
  }
  45% {
    transform: rotateZ(20deg);
  }
  60% {
    transform: rotateZ(-30deg);
  }
  75% {
    transform: rotateZ(30deg);
  }
  76% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}