:host {
  background: linear-gradient(to top right, #cad3c8 0%, #98a097 100%);
  padding: 0.5rem;
  border-radius: 0.2rem;
  width: 100%;
  font-size: 1.2rem;
}
:host .mat-card-title, :host .mat-card-actions, :host mat-card, :host mat-card-content {
  display: flex;
}
:host .mat-card-title, :host .mat-card-actions, :host mat-card {
  gap: 1rem;
}
:host mat-card-content {
  flex-direction: column;
}
:host .mat-card-actions {
  gap: 0;
  justify-content: flex-end;
  padding-top: 0;
}
:host mat-card {
  height: 100%;
}
:host .mat-card {
  background-color: var(--ax-bg-matcard);
}
:host h2 {
  font-size: 1.1rem;
  color: var(--ax-color-title);
}
:host h3 {
  font-weight: 500;
  color: white;
}
:host .ax-content {
  color: #141414;
  line-height: 1.4rem;
}
:host .todo {
  row-gap: 1rem;
  height: 100%;
}
:host .section-header {
  gap: 1rem;
}
:host .mat-mini-fab {
  width: 1.5rem;
  height: 1.5rem;
}
:host .mat-button {
  padding: 0;
  width: 3rem;
  min-width: 3rem;
  margin: 0;
}
:host .ax-created {
  padding-left: 0.5rem;
}
:host .ax-date-info {
  font-size: 0.7rem;
  text-shadow: 2px 2px 0.15em rgba(133, 125, 125, 0.05);
  color: var(--ax-color-detail);
}
:host .ax-update {
  padding-left: 0.5rem;
  font-size: 0.7rem;
}
:host .ax-other-infos {
  margin-top: 2rem;
}
:host .ax-other-infos section {
  margin-bottom: 0.5rem;
}
:host .ax-other-infos section i, :host .ax-other-infos section .ax-detail-infos-date, :host .ax-other-infos section .ax-update {
  color: var(--ax-color-detail);
}
:host .ax-other-infos section .ax-infos {
  font-size: 0.8rem;
}
:host .ax-detail-infos-date {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.7rem;
}
:host .ax-inprogress {
  background-color: var(--ax-progress);
}
:host .ax-closed {
  background-color: var(--ax-closed);
}
:host .ax-canceled {
  background-color: var(--ax-canceled);
}
:host .ax-started {
  background-color: var(--ax-started);
}
:host .ax-closing {
  color: #a11b51;
  font-size: 1rem;
  align-self: center;
  margin-top: 1rem;
}
:host .mat-card > :first-child {
  margin-top: 1.5rem;
}
:host .song {
  -webkit-animation: songKeyFrame 2000ms ease infinite;
          animation: songKeyFrame 2000ms ease infinite;
}
@-webkit-keyframes songKeyFrame {
  0% {
    transform: rotateZ(-30deg);
  }
  15% {
    transform: rotateZ(30deg);
  }
  30% {
    transform: rotateZ(-30deg);
  }
  45% {
    transform: rotateZ(20deg);
  }
  60% {
    transform: rotateZ(-30deg);
  }
  75% {
    transform: rotateZ(30deg);
  }
  76% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes songKeyFrame {
  0% {
    transform: rotateZ(-30deg);
  }
  15% {
    transform: rotateZ(30deg);
  }
  30% {
    transform: rotateZ(-30deg);
  }
  45% {
    transform: rotateZ(20deg);
  }
  60% {
    transform: rotateZ(-30deg);
  }
  75% {
    transform: rotateZ(30deg);
  }
  76% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@media (min-width: 25rem) {
  .ax-other-infos {
    display: flex;
    flex-direction: row;
  }

  .ax-other-infos > * {
    flex-grow: 1;
  }
}
@media (min-width: 70rem) {
  :host {
    width: 45%;
  }
}
@media (min-width: 90rem) {
  :host {
    width: 30%;
  }
}