:host{
    font-size: 0.9rem;
    color: var(--ax-color-detail);
    background-color: var(--ax-bg-matcard);
    padding: 0.5rem;
    border-radius: 3px;


    .ax-content-header{
        gap: 1rem;
        color: var(--ax-color-title);
    }

    .ax-trash{
        align-self: flex-end;
    }

    .ax-green{
        color: var(--ax-bg-timer);
    }

    .ax-red{
        color: rgb(192, 57, 43)
    }

    .ax-status-title{
        font-size: 0.7rem;
    }



}

