:host{
    align-self: stretch;


    .ax-content-list{
        flex-wrap: wrap;
        width: 100%;
        gap: 2rem;
        padding: 2rem;

    }

    .ax-height{
        height: auto;
        transition: height 300ms ease-in;
    }

    .order1{
        order: 1;
    }


    .order2{
        order: 2;
    }

    mat-paginator{
        order: 3;
    }

    .mat-paginator{
        background-color: var(--ax-bg-matcard);
    }


    
    
}


@media (min-width : 36rem){

    .ax-content-list{
        flex-direction: row;
        justify-content: space-around;
    }


}

@media (min-width : 70rem){

    .ax-content-list{
       justify-content: flex-start;
    }

    
}