:host{
    align-self: stretch;


    .ax-content-list{
        flex-wrap: wrap;
        width: 100%;
        justify-content:flex-start;
        gap: 2rem;
        padding: 2rem;

    }

    .ax-height{
        height: auto;
        transition: height 300ms ease-in;
    }

    .order1{
        order: 1;
    }


    .order2{
        order: 2;
    }

    mat-paginator{
        order: 3;
    }


    
    
}