:host {
  align-self: stretch;
}
:host .ax-content-list {
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
  padding: 2rem;
}
:host .ax-height {
  height: auto;
  transition: height 300ms ease-in;
}
:host .order1 {
  order: 1;
}
:host .order2 {
  order: 2;
}
:host .mat-paginator {
  background-color: var(--ax-bg-matcard);
  order: 3;
}

@media (min-width: 36rem) {
  .ax-content-list {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 70rem) {
  .ax-content-list {
    justify-content: flex-start;
  }
}