:host{
    background-color: rgb(44, 58, 71);
    box-shadow:  0px 0px 0.30em 0.2em rgba(12, 128, 128, 0.5);
    border-radius: 0.5rem;
    min-width: 20%;
    max-width: 20rem;
    color: white;
    align-self: flex-start;
    padding-bottom: 2rem;


    
    .ax-header{
        background: linear-gradient(to top, rgb(128, 50, 97)0%, rgb(109, 33, 79)100%) ;
    }

    h2{
        color: white;
        flex-grow: 5;
        font-size: 1.2rem;
        line-height: 3rem;
        height:3rem;
    }

    a{
        flex-grow: 2;
        line-height: 2rem;
        position: relative;
    }

    i:before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%,0);
        color: black;
    }
    .ax-content-pomodoros{
        padding: 1rem;
        gap: 2rem;
    }

    .fa-plus:before{
        color: white;
    }

    

}