:host{
    // background-color: rgb(44, 58, 71);
    // box-shadow:  0px 0px 0.30em 0.2em rgba(12, 128, 128, 0.5);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 0.5rem;
    // min-width: 20%;
    // max-width: 20rem;
    color: white;
    align-self: flex-start;
    padding-bottom: 2rem;
    width: 100%;
    max-width: 25rem;
    display: block;



    
    .ax-header{
        background: var(--ax-secondary-boxshadow); 
    }

    h2{
        color: white;
        flex-grow: 5;
        font-size: 1.2rem;
        line-height: 3rem;
        height:3rem;
    }

    a{
        flex-grow: 2;
        line-height: 2rem;
        position: relative;
    }

    i:before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%,0);
        color: white;
    }
    .ax-content-pomodoros{
        padding: 1rem;
        gap: 2rem;
    }

    .fa-plus:before{
        color: var(--ax-color-title);
    }
    a{
        transition: transform 200ms ease-in;
    }
    
        a:hover{
            transform: rotateZ(180deg);
            transition: transform 200ms ease-in;
        }


  
}

@media (max-width: 36rem){

    :host{
        max-width: 100%;
    }

}
