:host{
    margin: 20rem;
}

mat-stepper{

    padding-top: 1rem;
}

.mat-form-field{
    font-size: 0.9rem;
}

.ax-edit{
    background-color: var(--ax-bg-matcard);
}

.mat-stepper-horizontal, .mat-stepper-vertical{
    background-color: var(--ax-bg-matcard);
}


a{
    align-self: flex-end;
    margin-top: 1rem;
    margin-right: -1rem;
    width: 4rem;
    cursor: pointer;
    color: var(--ax-color-title);

}

.ax-content{
    width: 50%;
}



@media (min-width: 50rem){

    mat-stepper{
        padding: 2rem;
        padding-top: 1rem;
    }
}

