mat-stepper {
  padding: 3rem;
  padding-top: 1rem;
}

.mat-form-field {
  font-size: 1.1rem;
}

.ax-edit {
  background-color: white;
}

a {
  align-self: flex-end;
  margin-top: 1rem;
  margin-right: 1rem;
  width: 4rem;
  cursor: pointer;
}