:host {
  margin: 20rem;
}

.mat-form-field {
  font-size: 0.9rem;
}

.ax-edit {
  background-color: var(--ax-bg-matcard);
  padding: 2rem;
}

a {
  align-self: flex-end;
  margin-top: 1rem;
  margin-right: -1rem;
  width: 4rem;
  cursor: pointer;
  color: var(--ax-color-title);
}

.ax-content {
  width: 50%;
}

@media (min-width: 40rem) {
  .ax-time {
    flex-direction: row;
    justify-content: space-between;
  }

  .ax-time > * {
    max-width: 30%;
  }
}