:host{
    margin: 20rem;
}

.mat-form-field{
    font-size: 0.9rem;
}

.ax-edit{
    background-color: white;
    padding: 2rem;
}

a{
    align-self: flex-end;
    margin-top: 1rem;
    margin-right: -1rem;
    width: 4rem;
    cursor: pointer;

}

.ax-content{
    width: 50%;
}

