<div class="content c-flex">
  <section>
    <div class="section-header r-flex txt-left pl-2">
      <div class="title r-flex">
        <h2 class="mt-0 mb-0">Summary</h2>
        <a class="ax-list-todo" (click)="showListTodo()"
          ><i class="fa-solid fa-list"></i
        ></a>
      </div>
      <a (click)="closePanel()"><i class="fa-solid fa-xmark fa-2x"></i></a>
    </div>
    <div class="section-body r-flex">
      <ul class="list-style-none r-flex mt-2 flex-grow-1">
        <li class="mr-2">
          <button
            mat-raised-button
            color="primary"
            [matBadge]="cat.started"
            matBadgePosition="before"
            matBadgeColor="accent"
            (click)="getFilter($event)"
          >
            Started
          </button>
        </li>
        <li class="mr-2">
          <button
            class="ax-inprogress"
            mat-raised-button
            [matBadge]="cat.inProgres"
            matBadgePosition="before"
            matBadgeColor="accent"
            (click)="getFilter($event)"
          >
            InProgress
          </button>
        </li>
        <li class="mr-2">
          <button
            mat-raised-button
            class="ax-closed"
            [matBadge]="cat.closed"
            matBadgePosition="before"
            matBadgeColor="accent"
            (click)="getFilter($event)"
          >
            Closed
          </button>
        </li>
        <li>
          <button
            mat-raised-button
            class="ax-canceled"
            [matBadge]="cat.canceled"
            matBadgePosition="before"
            matBadgeColor="accent"
            (click)="getFilter($event)"
          >
            Canceled
          </button>
        </li>
      </ul>

      <section class="ax-level c-flex ml-1 mr-2">
        <span class="ax-level-detail ax-low">Low</span>
        <span class="ax-level-detail ax-normal">Normal</span>
        <span class="ax-level-detail ax-high">High</span>
      </section>
    </div>
  </section>

  <app-list
    class="mt-2"
    [events]="eventParentSubject.asObservable()"
  ></app-list>
</div>
