:host{
    flex-grow: 1;
    /*background-color: rgb(44, 58, 71);*/
    /*box-shadow:  0px 0px 0.30em 0.2em rgba(12, 128, 128, 0.5);*/
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 0.5rem;
    height: auto;
    transition: height 300ms ease-in;
    
    
    .section-header{
        background: var(--ax-secondary-boxshadow) ;
    }

    // .title{
    //     flex-grow: 10;
    // }
    
    h2{
        color: white;
        font-size: 1.2rem;
        line-height: 3rem;
        height:3rem;
    }

    a{
        // flex-grow: 1;
        line-height: 2rem;
        position: relative;
    }


    i:before{
        position: absolute;
        top: 50%;
        left :50%;
        transform: translate3d(-50%, -50%,0);
        color: white;
    }


    // .content ul{
    //     margin: auto;
    // }

    .ax-inprogress{
        background-color: var(--ax-progress);
    }

    
    .ax-closed{
        background-color: var(--ax-closed);
    }

    .ax-canceled{
        background-color: var(--ax-canceled);
    }

    a:not(.ax-list-todo){

        transition: transform 200ms ease-in;
    }
    
    a:not(.ax-list-todo):hover{
            transform: rotateZ(180deg);
            transition: transform 200ms ease-in;
        }

        .ax-list-todo{

            width: 1rem;
            flex-grow: 0;
            margin-left: 1rem;

            &:hover{
               transition: none !important;
            }


            & i{
                width: 1rem;
                height: 1rem;


                &::before{
                    color: white;
                    font-size: 1rem;
                }

            }
        }

        
        .ax-level-detail{
            width: 80px;
            height: 40px;
            color: black;
            font-size: 0.875rem;
            margin: auto;
            margin-top: 1rem;
            border-radius: 3px;
            text-align: left;
            line-height: 20px;
            box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 1px 5px 0px rgba(0, 0, 0, 0.12);
            
        }

        .ax-low{
   
            background-color: var(--ax-low); 
        
        }
        
        .ax-normal{
            background-color: var(--ax-normal); 
        
        }
        
        .ax-high{
            background-color: var(--ax-high);
        }

        .section-body{
            margin-top: 2rem ;
            align-items: center;
        }

        .fa-filter:before{
            color: var(--ax-secondary-boxshadow);
            left: 1.5rem;
        }

        .mat-expansion-panel{
            background-color: var(--ax-bg-matcard);
        }
       
}

@media (min-width : 25rem){

    :host{
        flex-grow: 0;
    }

    // .section-body{
    //     flex-direction: row;
    // }

    // .section-body > *{
    //     flex-grow: 1;
    // }

}

@media (min-width : 36rem){

    :host{
        max-width: 50%;
    }



}


@media (min-width: 60rem){

    .section-body{
        align-items: flex-start;
    }

    .section-body > *{
        flex-direction: row;

    }

    .section-body li{
        margin-right: 1rem;
    }

    .ax-level button{
        margin-right: 1rem;
    }






}


@media (min-width: 70rem){

    :host{
        flex-grow: 1;
    }
    
}


