<div class="content c-flex">
  <section>
    <div class="section-header r-flex txt-left pl-1 pr-2">
      <div class="title r-flex">
        <h2 class="mt-0 mb-0">Summary</h2>
        <a class="ax-list-todo" (click)="showListTodo()" role ="button" aria-label="switch the view todo to list or detail"
          ><i class="fa-solid fa-list"></i
        ></a>
      </div>
      <a (click)="closePanel()" role ="button" aria-label="close the todo panel"><i class="fa-solid fa-xmark fa-2x"></i></a>
    </div>

    <mat-accordion class="mt-1"  #accordion>

      <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title class="pl-1">
              <span role="button" aria-label="open panel to filter todo list by status or priority"> <i class="fa-solid fa-filter"></i></span> Filters
            </mat-panel-title>
          </mat-expansion-panel-header>

        <div class="section-body c-flex">
          <ul class="list-style-none c-flex mt-0" role="menu" aria-labelledby="menu-1">
            <li class="mb-1">
              <button
                mat-raised-button
                color="primary"
                [matBadge]="cat.started"
                matBadgePosition="before"
                matBadgeColor="accent"
                (click)="getFilter($event)"
                role="menuitem"
              >
                Started
              </button>
            </li>
            <li class="mb-1">
              <button
                class="ax-inprogress"
                mat-raised-button
                [matBadge]="cat.inProgres"
                matBadgePosition="before"
                matBadgeColor="accent"
                (click)="getFilter($event)"
                role="menuitem"
              >
                InProgress
              </button>
            </li>
            <li class="mb-1">
              <button
                mat-raised-button
                class="ax-closed"
                [matBadge]="cat.closed"
                matBadgePosition="before"
                matBadgeColor="accent"
                (click)="getFilter($event)"
                role="menuitem"
              >
                Closed
              </button>
            </li>
            <li>
              <button
                mat-raised-button
                class="ax-canceled"
                [matBadge]="cat.canceled"
                matBadgePosition="before"
                matBadgeColor="accent"
                (click)="getFilter($event)"
                role="menuitem"
              >
                Canceled
              </button>
            </li>
          </ul>
    
          <section class="ax-level c-flex ml-2 mr-2">
            <button
                mat-raised-button
                class="ax-level-detail ax-low"
                [matBadge]="prt.low"
                matBadgePosition="after"
                matBadgeColor="accent"
                (click)="getFilter($event)"
                role="menuitem"
              >
                Low
              </button>
              <button
                mat-raised-button
                class="ax-level-detail ax-normal"
                [matBadge]="prt.normal"
                matBadgePosition="after"
                matBadgeColor="accent"
                (click)="getFilter($event)"
                role="menuitem"
              >
                Normal
              </button>
              <button
                mat-raised-button
                class="ax-level-detail ax-high"
                [matBadge]="prt.high"
                matBadgePosition="after"
                matBadgeColor="accent"
                (click)="getFilter($event)"
                role="menuitem"
              >
                High
              </button>
        
        </section>
      </div>
      </mat-expansion-panel>
    </mat-accordion>

  </section>

  <app-list
    class="mt-2"
    [events]="eventParentSubject.asObservable()"
  ></app-list>
  
</div>
