<div class="content c-flex mb-4">
  <section>
    <div class="section-header r-flex txt-left pl-2">
      <h2 class="mt-0 mb-0">Summary</h2>
      <a href=""><i class="fa-solid fa-xmark fa-2x"></i></a>
    </div>
    <div class="section-body">
      <ul class="list-style-none r-flex mt-2">
        <li class="mr-2">
          <button
            mat-raised-button
            color="primary"
            [matBadge]="cat.started"
            matBadgePosition="before"
            matBadgeColor="accent"
            (click)="getFilter($event)"
          >
            Started
          </button>
        </li>
        <li class="mr-2">
          <button
            class="ax-inprogress"
            mat-raised-button
            [matBadge]="cat.inProgres"
            matBadgePosition="before"
            matBadgeColor="accent"
            (click)="getFilter($event)"
          >
            InProgress
          </button>
        </li>
        <li class="mr-2">
          <button
            mat-raised-button
            class="ax-closed"
            [matBadge]="cat.closed"
            matBadgePosition="before"
            matBadgeColor="accent"
            (click)="getFilter($event)"
          >
            Closed
          </button>
        </li>
        <li>
          <button
            mat-raised-button
            class="ax-canceled"
            [matBadge]="cat.canceled"
            matBadgePosition="before"
            matBadgeColor="accent"
            (click)="getFilter($event)"
          >
            Canceled
          </button>
        </li>
      </ul>
    </div>
  </section>

  <app-list
    class="mt-4"
    [events]="eventParentSubject.asObservable()"
  ></app-list>
</div>
