:root{

    // --ax-primary: rgb(201, 23, 127);
    --ax-accent: rgb(80,80,153);
    
    --ax-primary:rgb(235, 59, 90);
    --ax-started:  rgb(56, 103, 214);
    --ax-progress: rgb(196, 229, 56);
    --ax-closed: rgb(237, 76, 103);
    --ax-canceled: rgb(247, 183, 49);
    --ax-color-title :rgba(40,40,40,0.8);
    --ax-color-detail: rgb(160,160,160);
    --ax-color-header : rgba(255,255,255);


    --ax-bg-timer: rgb(78, 161, 84);
    --ax-color-actions : rgba(30,30,30,0.9);

    --ax-background: rgba(230, 224, 224, 0.05);
    --ax-bg-matcard : white;

    --ax-low: rgb(233,203,106);
    --ax-normal :rgb(54,163,85);
    --ax-high :rgb(213,43,93);

    --ax-primary-400: rgb(99, 110, 114);

    /*--ax-primary-400: rgb(184, 41, 124);*/
    --ax-rgb-primary: 201,23,127;
    --ax-secondary-boxshadow: linear-gradient(to top right, rgb(181, 38, 95) 0%, rgb(150, 21, 73) 100%);
    // --ax-primary-boxshadow: linear-gradient(top right, rgb(99, 110, 114) 0%, rgb(148, 149, 150) 100%);
    --ax-primary-boxshadow: linear-gradient(to top right, rgba(49, 38, 143, 0.83) 0%, rgba(28, 6, 63, 0.86) 80%);

}