<mat-card class="example-card c-flex">
  <mat-card-title class="c-flex mt-2 flex-grow-1">

    <section class="ax-closing">
      <i class="fa-solid fa-bell ax-infos" [ngClass]="song ? 'song' : ''"></i
      ><span class="pl-1"
        ><strong>{{ todo.closing | date: "MMM d, y, H:mm" }}</strong></span
      >
    </section>


    <section class="ax-title-view r-flex">
      <h2 class="mt-0 mb-0">Title : {{ todo.title }}</h2>
      <div class="ax-status">
        <button
          mat-mini-fab
          [ngClass]="status"
          aria-label="Example icon button with a menu icon"
        ></button>
      </div>
      <i class="fa-solid fa-tag" [ngClass]="priority"> </i>
    </section>

  </mat-card-title>


  <mat-card-actions class="r-flex">
    <button mat-button (click)="edit(todo)"  role="button" aria-label="edit the todo">
      <i class="fa-solid fa-pen-to-square"></i>
    </button>
    <button mat-button (click)="delete(todo)" class="mr-1 ml-0 pl-0" role="button" aria-label="trash the todo">
      <i class="fa-solid fa-trash"></i>
    </button>
  </mat-card-actions>


</mat-card>
