:host{
    display: block;
    width: 100%;

}

.mat-card, .mat-card-title{
    display: flex;
    flex-direction: column;
}

.mat-card{
    box-sizing: border-box;
}

.mat-card-title{
    color: rgba(40,40,40,0.8);
    row-gap: 1rem;
    width: 100%;
}

.ax-closing{
    font-size: 1rem;
}

h2{
    font-size: 1.2rem;
    line-height: 35px;
    flex-grow: 1;
}

.mat-mini-fab{
    margin-top: 6px;
}

.ax-inprogress{
    background-color: var(--ax-progress);
}

.ax-closed{
    background-color: var(--ax-closed);
   
}

.ax-canceled{
    background-color: var(--ax-canceled);
}

.ax-started{
    background-color: var(--ax-started);
}

.ax-closing{
    color:rgb(161, 27, 81);
    font-size: 1rem;
    align-self: center;
}

.mat-mini-fab{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    align-self: center;
}

.mat-button:last-of-type{
    padding-left: 0;
    margin-left: 0;

}

.mat-card-actions{
    padding-top:0;
    margin: 0;
    display: flex;
    justify-content: center;
}

i{
    align-self: center;
}

.mat-card{
    background-color: var(--ax-bg-matcard);
}

h2{
    color: var(--ax-color-title);
}


.song{
    animation: songKeyFrame 2000ms ease infinite;
}

@keyframes songKeyFrame {
    
    0%{
        transform: rotateZ(-30deg);
    }

    15%{

        transform: rotateZ(30deg);
    }

    30%{
        transform: rotateZ(-30deg);
    }

    45%{

        transform: rotateZ(20deg);
    }

    60%{
        transform: rotateZ(-30deg);
    }

    75%{

        transform: rotateZ(30deg);
    }

    76%{
        transform: rotateZ(0deg);
    }

    100%{
        transform: rotateZ(0deg);
    }


}