<div class="container">
  <nav class="navbar mb-4 r-flex">
    <h1 class="title txt-left mt-0 pl-4 mb-0 flex-grow-1">ToDo App</h1>
    <span class="ax-current-time">{{
      currentTime | date: "MMM d, y, HH:mm:ss"
    }}</span>
    <mat-slide-toggle class="mr-4" (change)="toggle($event)">{{
      nameTheme
    }}</mat-slide-toggle>
  </nav>
</div>

<div class="main-content r-flex">
  <div></div>
  <app-menu></app-menu>
  <app-content
    [@showContent]
    *ngIf="isVisibleTodoPanel"
    [ngClass]="order ? 'ax-item' : ''"
  ></app-content>
  <app-aside
    [@showAside]
    *ngIf="isVisiblePomodoroPanel"
    [ngClass]="order ? '' : 'ax-item'"
  >
  </app-aside>
  <div class="ax-item-3"></div>
</div>

<div class="content-overlay" [@showEdit] *ngIf="isVisible">
  <app-overlay
    class="ax-overlay"
    (eventEmitter)="closeOverlay()"
    [currentTodo]="currentTodo"
  >
  </app-overlay>
</div>
