<div class="container">
  <nav class="navbar mb-4">
    <h1 class="title txt-left mt-0 pl-4">ToDo App</h1>
  </nav>
</div>

<div class="main-content r-flex">
  <div></div>
  <app-menu></app-menu>
  <app-content></app-content>
  <app-aside> </app-aside>
  <div></div>
</div>
<!-- <mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider>
<app-todo></app-todo>

<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
</div>

<mat-calendar> </mat-calendar>

<mat-form-field appearance="outline">
  <input
    matInput
    formControlName="releasedAt"
    [matDatepicker]="releasedAtPicker"
    (click)="releasedAtPicker.open()"
  />
  <mat-datepicker-toggle matSuffix [for]="releasedAtPicker">
  </mat-datepicker-toggle>
  <mat-datepicker #releasedAtPicker> </mat-datepicker>
</mat-form-field> -->
