/* You can add global styles to this file, and also import other style files */
@use "./utilities";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";



html, body { height: auto; min-height: 100% }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(to top right, #434343 0%, black 100%);
    background-repeat: no-repeat;
}


.title{

    color: black;
    font-size: 2rem;
    line-height: 4rem;
    text-shadow: 2px 2px rgb(0,0,0,0.2);

}

.navbar{
    background-color: var(--ax-primary);
    box-shadow: 0 0 0.7em 0.3em rgba(var(--ax-rgb-primary), 0.5);
    border-bottom: 3px solid var(--ax-primary-400);
    height: 4rem;
}

.ax-icon{
    width: 4rem;
    height: 4rem;
    background-color: var(--ax-primary);
    color: black;
    position: relative;
    border: 5px solid var(--ax-primary-400);
    box-shadow: 0 0 0.3em 0.2em rgb(184,50,121);
    

}

.ax-icon:hover{
    transform: rotateY(360deg);
    transition: transform 500ms ease-in;
}


.ax-icon:before{

   @extend %pos-center;
   width: 30px;
   height: 30px;

}

.ax-list{
    width: 110px;
    height: auto;
    background-color: rgb(24, 16, 16);
    box-shadow: inset -2px -2px 0 0.2em rgba(14, 11, 11, 0.5);
    border: rgba(0,0,0,0.3);
    border-radius: 55px;
}

.main-content{
    height: 100%;
    column-gap: 3rem;
    justify-content:space-around;


}