/* You can add global styles to this file, and also import other style files */
@use "./utilities";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";



html, body { height: auto; min-height: 100% }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(to top right, rgb(226, 231, 224)0%,rgb(190, 197, 189)100%);
    background-repeat: no-repeat;
}


.title{

    color: white;
    font-size: 2rem;
    line-height: 4rem;
    text-shadow: 2px 2px rgb(0,0,0,0.2);

}

.navbar{
    background: linear-gradient(to top, rgb(128, 50, 97)0%, rgb(109, 33, 79)100%) ;
    /*box-shadow: 0 0 0.7em 0.3em rgb(240, 167, 65, 0.5);*/
    /*border-bottom: 2px solid rgb(240, 167, 65);*/
    height: 4rem;
    transition: background 200ms ease-in;
}
.navbar:hover{
    background: linear-gradient(to top,  rgb(243, 175, 80) 0%, rgb(255, 177, 66) 100%) ;
    transition: background 200ms ease-in;
}

.ax-icon{
    width: 4rem;
    height: 4rem;
    background: linear-gradient(to top, rgb(128, 50, 97)0%, rgb(109, 33, 79)100%) ;
    color: black;
    position: relative;
    /*border: 3px solid var(--ax-primary-400);*/
    box-shadow: 0 0 0.2em 0.1em rgb(236, 232, 228);
    transform: scale(1);
    transition: transform 150ms ease-in, background 200ms ease-in;
    

}

.ax-icon:hover{
    background: linear-gradient(to top, rgb(109, 33, 79) 0%, rgb(128, 50, 97)0100%) ;
    transform: scale(1.2);
    transition: transform 150ms ease-in, background 200ms ease-in;
}


.ax-icon:before{

   @extend %pos-center;
   width: 30px;
   height: 30px;
   color: white;

}

.ax-list{
    width: 110px;
    height: auto;
    background-color: rgb(44, 58, 71);
    box-shadow:  0px 0px 0.30em 0.2em rgba(12, 128, 128, 0.5);
    border: rgba(0,0,0,0.3);
    border-radius:0.5rem;
}

.main-content{
    height: 100%;
    column-gap: 3rem;
    justify-content:space-around;


}

.ax-low{
   
    color: var(--ax-low); 

}

.ax-normal{
    color: var(--ax-normal); 

}

.ax-high{
    color: var(--ax-high);
}

