/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
h1 {
  font-size: 2rem;
  color: #d7f3f3;
}

a {
  cursor: pointer;
  text-decoration: none;
}

body {
  font-size: 0.625em;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

:root {
  --ax-accent: rgb(80,80,153);
  --ax-primary:rgb(235, 59, 90);
  --ax-started: rgb(56, 103, 214);
  --ax-progress: rgb(196, 229, 56);
  --ax-closed: rgb(237, 76, 103);
  --ax-canceled: rgb(247, 183, 49);
  --ax-color-title:rgba(40,40,40,0.8);
  --ax-color-detail: rgb(160,160,160);
  --ax-color-header: rgba(255,255,255);
  --ax-bg-timer: rgb(78, 161, 84);
  --ax-color-actions: rgba(30,30,30,0.9);
  --ax-background: rgba(230, 224, 224, 0.05);
  --ax-bg-matcard: white;
  --ax-low: rgb(233,203,106);
  --ax-normal:rgb(54,163,85);
  --ax-high:rgb(213,43,93);
  --ax-primary-400: rgb(99, 110, 114);
  /*--ax-primary-400: rgb(184, 41, 124);*/
  --ax-rgb-primary: 201,23,127;
  --ax-secondary-boxshadow: linear-gradient(to top right, rgb(181, 38, 95) 0%, rgb(150, 21, 73) 100%);
  --ax-primary-boxshadow: linear-gradient(to top right, rgba(49, 38, 143, 0.83) 0%, rgba(28, 6, 63, 0.86) 80%);
}

.mt-0 {
  margin-top: 0rem;
}

.pt-0 {
  padding-top: 0rem;
}

.mr-0 {
  margin-right: 0rem;
}

.pr-0 {
  padding-right: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.ml-0 {
  margin-left: 0rem;
}

.pl-0 {
  padding-left: 0rem;
}

.mt-1 {
  margin-top: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.pr-3 {
  padding-right: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.ml-3 {
  margin-left: 3rem;
}

.pl-3 {
  padding-left: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.pr-4 {
  padding-right: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.ml-4 {
  margin-left: 4rem;
}

.pl-4 {
  padding-left: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.pt-5 {
  padding-top: 5rem;
}

.mr-5 {
  margin-right: 5rem;
}

.pr-5 {
  padding-right: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.ml-5 {
  margin-left: 5rem;
}

.pl-5 {
  padding-left: 5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.pt-6 {
  padding-top: 6rem;
}

.mr-6 {
  margin-right: 6rem;
}

.pr-6 {
  padding-right: 6rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.ml-6 {
  margin-left: 6rem;
}

.pl-6 {
  padding-left: 6rem;
}

.mt-7 {
  margin-top: 7rem;
}

.pt-7 {
  padding-top: 7rem;
}

.mr-7 {
  margin-right: 7rem;
}

.pr-7 {
  padding-right: 7rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.pb-7 {
  padding-bottom: 7rem;
}

.ml-7 {
  margin-left: 7rem;
}

.pl-7 {
  padding-left: 7rem;
}

.mt-8 {
  margin-top: 8rem;
}

.pt-8 {
  padding-top: 8rem;
}

.mr-8 {
  margin-right: 8rem;
}

.pr-8 {
  padding-right: 8rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.pb-8 {
  padding-bottom: 8rem;
}

.ml-8 {
  margin-left: 8rem;
}

.pl-8 {
  padding-left: 8rem;
}

.mt-9 {
  margin-top: 9rem;
}

.pt-9 {
  padding-top: 9rem;
}

.mr-9 {
  margin-right: 9rem;
}

.pr-9 {
  padding-right: 9rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

.pb-9 {
  padding-bottom: 9rem;
}

.ml-9 {
  margin-left: 9rem;
}

.pl-9 {
  padding-left: 9rem;
}

.mt-10 {
  margin-top: 10rem;
}

.pt-10 {
  padding-top: 10rem;
}

.mr-10 {
  margin-right: 10rem;
}

.pr-10 {
  padding-right: 10rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.pb-10 {
  padding-bottom: 10rem;
}

.ml-10 {
  margin-left: 10rem;
}

.pl-10 {
  padding-left: 10rem;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-center {
  text-align: center;
}

/***************************************************************************
*
*                           POSITION
*
****************************************************************************/
.r-flex {
  display: flex;
  flex-direction: row;
}

.c-flex {
  display: flex;
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.container {
  width: 100%;
}

.list-style-none {
  list-style-type: none;
}

.ax-icon:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.ax-br-circle {
  border-radius: 50%;
}

html, body {
  height: auto;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Helvetica, "Helvetica Neue", sans-serif;
  background-repeat: no-repeat;
  background-color: var(--ax-background);
  position: relative;
}

.mat-step-header .mat-step-label.mat-step-label-active {
  color: var(--ax-color-title);
}

.mat-form-field-label {
  color: var(--ax-color-title);
}

.mat-button, .mat-icon-button, .mat-stroked-button {
  color: var(--ax-color-actions);
}

.mat-card {
  font-family: Helvetica, "Helvetica Neue", sans-serif;
}

.img {
  opacity: 0.6;
  height: 40px;
}

.title {
  color: white;
  font-size: 1rem;
  line-height: 4rem;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  flex-grow: 1;
}

nav {
  background-image: url("/assets/background.png");
}

.navbar {
  background: url("/assets/background.png"), var(--ax-primary-boxshadow);
  /*box-shadow: 0 0 0.7em 0.3em rgb(240, 167, 65, 0.5);*/
  /*border-bottom: 2px solid rgb(240, 167, 65);*/
  height: 4rem;
  transition: background 200ms ease-in;
}

.ax-icon {
  width: 4rem;
  height: 4rem;
  background: var(--ax-secondary-boxshadow);
  color: black;
  position: relative;
  /*border: 3px solid var(--ax-primary-400);*/
  /* box-shadow: 0 0 0.2em 0.1em rgb(236, 232, 228);*/
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transform: scale(1);
  transition: transform 150ms ease-in, background 200ms ease-in;
}

.ax-icon:hover {
  background: linear-gradient(to top, #6d214f 0%, #803261 100%);
  transform: scale(1.2);
  transition: transform 150ms ease-in, background 200ms ease-in;
}

.ax-icon:before {
  width: 30px;
  height: 30px;
  color: white;
}

.ax-list {
  width: 110px;
  height: auto;
  /*background-color: rgb(44, 58, 71);*/
  /*box-shadow:  0px 0px 0.2em 0.1em rgba(204, 188, 46, 0.5);*/
  border: rgba(0, 0, 0, 0.3);
}

.main-content {
  height: 100%;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  justify-content: space-around;
  row-gap: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 5rem;
}

.ax-low {
  color: var(--ax-low);
}

.ax-normal {
  color: var(--ax-normal);
}

.ax-high {
  color: var(--ax-high);
}

.mat-slide-toggle-content {
  color: white;
}

.cdk-overlay-pane {
  z-index: 20000;
}

.cdk-overlay-container {
  z-index: 20000;
}

@media (min-width: 50rem) {
  .title {
    font-size: 1.8rem;
  }
}